<div class="input-group">
  <input type="text" class="form-control" name="term" placeholder="Search for...">
  <span class="input-group-btn">
    <button class="btn btn-primary" type="button">Search</button>
  </span>
</div>
<div class="clear"></div>
<% @users.each do |user| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= "#{user.name} (#{user.email})" %></h3>
    </div>
    <div class="panel-body">
      <% if user.microposts.present? %>
        <% user.microposts.each do |post| %>
          <p><%= post.content %></p>
        <% end %>
      <% else %>
        <p>No posts added by <%= user.name %></p>
      <% end %>
    </div>
  </div>
<% end %>

<%= link_to 'New User', new_user_path %>
